*.htm
*.Identifier
*.gif
*.png
*.css
*.js
lib
lib64
bin
*.cfg
page_source.html
*.csv
kari.json
__pycache__/
*.pyc
app.cpython-311.pyc
__pycache__/app.cpython-311.pyc
counter.txt

htmls/

!static/css/styles.css
!static/r.png
!static/cookie_logic.js
!static/data_logic.js

csvs/*.csv
csvs/*.tsv
csvs/*00
csvs/*01
csvs/*02
a_csvs/*

!csvs/renamer.py
!csvs/tsver.py
!csvs/joiner.py

/imgs/