<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>risyu-affamation</title>
    <style>
    </style>
</head>
<body>


</body>

<script>
    cookie = {};
    sver = "{{ sver }}";
    function cookiereader() {
        console.log("Rfun[CoockieReader]")
        console.log(document.cookie)
        let kidi = document.cookie;
        let kata = kidi.split('; ');
        for (let i = 0; i < kata.length; i++) {
            let parts = kata[i].split('=');
            cookie[parts[0]] = parts[1];
        }
    }

    function cookiewriter() {
        console.log("Wfun[CookieWriter]")


        let expirationDate = new Date();
        expirationDate.setFullYear(expirationDate.getFullYear() + 1); // 1年後に有効期限を設定
        let expires = "expires=" + expirationDate.toUTCString();

        for (let [key, value] of Object.entries(cookies)) {
            document.cookie = `${key}=${value}; ${expires}; path=/`;
        }

        console.log(document.cookie)
    }

    function newparson() {
        console.log("[NewPaerson]")
    }

    function altrolever() {
        console.log("[AltRolever]")
    }

    function uptodate() {
        console.log("[UpToData]")
    }

    cookiereader()
    if (cookie.rolever == ""){
        newparson()
    } else if (cookie.rolever == sver) {
        uptodate()
    } else {
        altrolever()
    }
    console.log(cookie);

</script>
</body>
</html>