<!DOCTYPE html>
<lang="ja">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">


  <head>
    

    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ogawa342 - test" />
    <meta property="og:description" content="説明　てすと" />
    <meta property="og:url" content="https://kurisyushien.org/tests" />
    <meta property="og:site_name" content="risyu" />
    <meta property="og:image" content="" />
    <!-- Twitterカードの設定 -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@Ogawa3427" />
    <title>risyu - tests</title>
  </head>

  <body>
    <div class="container">
      <h1>テスト段階にある機能</h1>
      <ul>
        <li><a href="/yugo_table">融合学域時間割表</a></li>
      </ul>
      <div class="pipo_container">
        <div style="flex: 1; width: 100%;"><button class="day-button" style="width: 100%;">月1</button></div>
        <div style="flex: 1; width: 100%;"><button class="day-button" style="width: 100%;">火1</button></div>
        <div style="flex: 1; width: 100%;"><button class="day-button" style="width: 100%;">水1</button></div>
        <div style="flex: 1; width: 100%;"><button class="day-button" style="width: 100%;">木1</button></div>
        <div style="flex: 1; width: 100%;"><button class="day-button" style="width: 100%;">金1</button></div>
        <div class="ch_container">
          <input type="checkbox" id="whonlygs" class="ch_box_input">
          <label for="whonlygs" class="checkmark">GSのみ</label>
        </div>
      </div>
    </div>
    </div>
  </body>

  </html>