<!DOCTYPE html>
<html lang="ja">
    <script>
        const quarterRadios = document.getElementsByName('quarter');
        function setCookie(isReset) {
            if (!isReset) {
                cookies["kand"] = document.getElementById('kand').checked.toString();
                cookies["sendo"] = document.getElementById('sendo').checked.toString();
                cookies["suma"] = document.getElementById('suma').checked.toString();
                console.log(cookies["suma"]);
                cookies["denjo"] = document.getElementById('denjo').checked.toString();
                cookies["showAllCourses"] = document.getElementById('showAllCourses').checked.toString();
                cookies["quarter"] = getSelectedQuarter();
                console.log('NOREset');
            } else {
                console.log('reset');
            }
            console.log(cookies);
            var d = new Date();
            d.setTime(d.getTime() + (7*24*60*60*1000));
            var expires = "expires="+ d.toUTCString();
            for (var key in cookies) {
                var cookie_str = key + "=" + cookies[key] + "; " + expires + "; path=/";
                document.cookie = cookie_str;
            }
            console.log(document.cookie);
        }
        var cookies = {};
        function getCookie() {
            const p_cookie = document.cookie;
            //console.log(p_cookie);
            var list_cookies = p_cookie.split(';');
            var cookies = {};
            for (var i = 0; i < list_cookies.length; i++) {
                c = list_cookies[i].replace(/ /g, '');
                var dc = c.split('=');
                if (dc.length > 1) {
                    cookies[dc[0]] = dc[1];
                }
            }
            console.log(cookies);
            console.log(cookies["kand"]);
            if (cookies["kand"] == "undefined" || cookies["kand"] == undefined) {
                console.log('cookieがない');
                cookies["kand"] = 'true';
                cookies["sendo"] = 'true';
                cookies["suma"] = 'true';
                cookies["denjo"] = 'true';
                cookies["showAllCourses"] = 'true';
            }
            console.log(cookies);
            
            return cookies;
        }
        //console.log('{{ course_info | tojson }}');
        const courseInfoStr = '{{ course_info | tojson }}'.replace(/^"|"$/g, '');
        var r_course_info = JSON.parse(courseInfoStr);
        const course_info = JSON.parse(courseInfoStr);
        //console.log(document.cookie);

        const rui_name = '{{ rui_name }}'.replace(/^"|"$/g, '');
        const ruis_aff = rui_name.split(',');

        const donyu = [
            'アカデミックスキル',
            'プレゼン・ディベート論',
            '数理・データサイエンス基礎及び演習',
            'アントレプレナー基礎',
            'デザイン思考'
        ]

        console.log(r_course_info);

        document.addEventListener('DOMContentLoaded', (event) => {
            const tableBody = document.getElementById('courseTableBody');
            const showAllCoursesCheckbox = document.getElementById('showAllCourses');
            
            const sendoCheckbox = document.getElementById('sendo');
            const kandCheckbox = document.getElementById('kand');
            const sumaCheckbox = document.getElementById('suma');
            const denjoCheckbox = document.getElementById('denjo');

            // 状態をクッキーから読み込み
            cookies = getCookie();
            if (cookies["quarter"]) {
                document.querySelector(`input[name="quarter"][value="${cookies["quarter"]}"]`).checked = true;
            }
            ['showAllCourses', 'sendo', 'kand', 'suma', 'denjo'].forEach(id => {
                const checked = cookies[id] === 'true';
                document.getElementById(id).checked = checked;
            });

            if (cookies["selectedQuarter"]) {
                document.querySelector(`input[name="quarter"][value="${cookies["selectedQuarter"]}"]`).checked = true;
            }

            // チェックボックスとラジオボタンの変更を監視
            document.querySelectorAll('input[type="checkbox"], input[type="radio"]').forEach(input => {
                input.addEventListener('change', () => {
                    setCookie(false);
                    drawTable(); // 表を再描画
                });
            });



            const drawTable = () => {
                const ids = ['M1', 'T1', 'W1', 'Th1', 'F1', 'M2', 'T2', 'W2', 'Th2', 'F2', 'M3', 'T3', 'W3', 'Th3', 'F3', 'M4', 'T4', 'W4', 'Th4', 'F4', 'M5', 'T5', 'W5', 'Th5', 'F5', 'M6', 'T6', 'W6', 'Th6', 'F6', 'M7', 'T7', 'W7', 'Th7', 'F7', 'SP'];
                for (const id of ids) {
                    const cell = document.getElementById(id);
                    if (cell) {
                        cell.innerHTML = '';
                    }
                }
                tableBody.innerHTML = '';
                r_course_info = Object.values(course_info);
                //console.log(r_course_info);

                console.log(getSelectedQuarter());
                console.log(r_course_info[0].quarter);

                r_course_info = r_course_info.filter((course) => {
                    const qs = course.quarter.split(',');
                    return qs.includes(getSelectedQuarter());
                });
                console.log(r_course_info);

                r_course_info = r_course_info.filter((course) => {
                    if (!sendoCheckbox.checked) {
                        return course.rui != '先導学類';
                    } else {
                        return true;
                    }
                });
                r_course_info = r_course_info.filter((course) => {
                    if (!kandCheckbox.checked) {
                        return course.rui != '観光デザイン学類';
                    } else {
                        return true;
                    }
                });
                r_course_info = r_course_info.filter((course) => {
                    if (!sumaCheckbox.checked) {
                        return course.rui != 'スマート創成科学類';
                    } else {
                        return true;
                    }
                });
                console.log(ruis_aff);
                console.log(r_course_info);
                for (const rui of ruis_aff) {
                    r_course_info = r_course_info.filter((course) => {
                        //console.log(course.rui);
                        //console.log(rui);
                        if (!denjoCheckbox.checked) {
                            return course.rui != rui;
                        } else {
                            return true;
                        }
                    });
                }

                //console.log(r_course_info);

                r_course_info = r_course_info.filter((course) => {
                    if (showAllCoursesCheckbox.checked) {
                        return !donyu.includes(course.ja_title);
                    }
                    return true;
                });


                for (item in r_course_info) {
                    //console.log(r_course_info[item]);
                    const spl = r_course_info[item].day_period.split('');
                    const day = spl[0];
                    const period = spl[1];

                    var day_alp = '';
                    var id = '';

                    if (r_course_info[item].day_period == '集中') {
                        day_alp = 'SP';
                        console.log('集中');
                        id = 'SP';
                    } else {
                        switch (day) {
                            case '月':
                                day_alp = 'M';
                                break;
                            case '火':
                                day_alp = 'T';
                                break;
                            case '水':
                                day_alp = 'W';
                                break;
                            case '木':
                                day_alp = 'Th';
                                break;
                            case '金':
                                day_alp = 'F';
                                break;
                        }
                                    id = day_alp + period;
                                    console.log(id);
                    }

                    //console.log(r_course_info)

                    const courseElement = document.createElement('div');
                    //courseElement.href = r_course_info[item].link;
                    courseElement.className = "course";
                    courseElement.innerHTML = `
                        <a class="title" href="${r_course_info[item].link}">${r_course_info[item].ja_title}</a>
                    `;

                    if (r_course_info[item].rui == '先導学類') {
                        courseElement.innerHTML += `
                            <div style="display: flex; flex-flow: row;">
                                <p class="sendo">先導</p>
                                <p class="teacher">${r_course_info[item].ja_teacher}</p>
                            </div>
                        `;
                    } else if (r_course_info[item].rui == '観光デザイン学類') {
                        courseElement.innerHTML += `
                            <div style="display: flex; flex-flow: row;">
                                <p class="kand">観デザ</p>
                                <p class="teacher">${r_course_info[item].ja_teacher}</p>
                            </div>
                        `;
                    } else if (r_course_info[item].rui == 'スマート創成科学類') {
                        courseElement.innerHTML += `
                            <div style="display: flex; flex-flow: row;">
                                <p class="suma">スマ創</p>
                                <p class="teacher">${r_course_info[item].ja_teacher}</p>
                            </div>
                        `;
                    } else {
                        //console.log(ruis_aff);
                        //console.log(r_course_info[item].rui);
                        let matchedRui = ruis_aff.find(rui => r_course_info[item].rui === rui);
                        if (matchedRui) {
                            //console.log(matchedRui);
                            courseElement.innerHTML += `
                                <div style="display: flex; flex-flow: row;">
                                    <p class="denjo">${matchedRui}</p>
                                    <p class="teacher">${r_course_info[item].ja_teacher}</p>
                                </div>
                            `;
                        } else {
                            courseElement.innerHTML += `
                                <p class="teacher">${r_course_info[item].ja_teacher}</p>
                            `;
                        }
                    }

                    const cell = document.getElementById(id);
                    if (cell) {
                        cell.appendChild(courseElement);
                    }
                }                
            };

            // チェックボックスの状態が変わったら表を再描画
            showAllCoursesCheckbox.addEventListener('change', drawTable);
            quarterRadios.forEach(radio => radio.addEventListener('change', drawTable));
            sendoCheckbox.addEventListener('change', drawTable);
            kandCheckbox.addEventListener('change', drawTable);
            sumaCheckbox.addEventListener('change', drawTable);
            denjoCheckbox.addEventListener('change', drawTable);

            // 初期描画
            drawTable();
        });
    </script>
<style>
    .course {
        border: 1px solid #000;
        padding: 5px;
        margin: 9px;
        align-items: flex-start;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    }
    div {
        background-color: #FFFFFF;
    }
    .sendo {
        background-color: #008800;
        color: #FFFFFF;
        margin: 5px;
        border-radius: 3px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 3px;
    }
    .kand {
        background-color: #AA0000;
        color: #FFFFFF;
        margin: 5px;
        border-radius: 3px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 3px;
    }
    .suma {
        background-color: #0000AA;
        color: #FFFFFF;
        margin: 5px;
        border-radius: 3px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: flex-start;
        padding: 3px;
        margin: 5px;
    }
    .denjo {
        background-color: #222222;
        color: #FFFFFF;
        margin: 5px;
        border-radius: 3px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: flex-start;
        padding: 3px;
        margin: 5px;
    }
    td {
        background-color: #F5F5F5;
    }
    td > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* 左寄せにする場合 */
        justify-content: flex-start; /* 上から詰める */
        height: 100%; /* セルの高さに合わせて伸ばす */
    }
    .day {
        background-color: #EEEEEE;
        padding: 10px;
        font-weight: bold;
        text-align: center;
        font-size: 20px;
    }
    input[type="checkbox"] {
        width: 25px;
        height: 25px;
        text-align: center;
        justify-content: center;
        font-size: 20px; /* チェックボックス自体のフォントサイズを変更しようとしても効果がありません */

        
        -webkit-appearance: none; /* ブラウザが提供するデフォルトのスタイルを無効にする */
        -moz-appearance: none;
        appearance: none;
        border: 1px solid #000; /* チェックボックスの境界線を明示的に指定 */
        background-color: #fff; /* 背景色を白に */
    }
    input[type="checkbox"]:after {
        content: '✔'; /* チェックされたときに表示する文字 */
        display: block;
        text-align: center;
        font-size: 17px;
        color: #FFF; /* チェックされたときの文字色 */
    }
    input[type="checkbox"]:checked {
        background-color: #2222FF;
        color: #000; /* チェックされたときの文字色 */
    }

    input[type="radio"]:after {
        content: '〇'; 
        display: block;
        text-align: center;
        font-size: 17px;
        color: #FFF;
    }
    input[type="radio"]:checked {
        background-color: #2222FF;
        color: #000;
    }
    input[type="radio"] {
        width: 25px;
        height: 25px;
        text-align: center;
        justify-content: center;
        font-size: 20px; /* チェックボックス自体のフォントサイズを変更しようとしても効果がありません */

        
        -webkit-appearance: none; /* ブラウザが提供するデフォルトのスタイルを無効にする */
        -moz-appearance: none;
        appearance: none;
        border: 1px solid #000; /* チェックボックスの境界線を明示的に指定 */
        background-color: #fff; /* 背景色を白に */
    }
    .links {
        display: none;
        overflow: hidden;
    }
</style>
<body>
    <h1>【非公式】金沢大学シラバスから引いてる時間割表(機能テスト中)</h1>
    <p style="font-size: 20px">融合の一部必修科目など、検索結果に単純に現れなかった科目は表示できません。ご注意ください。　　　最終更新2024/03/02</p>
    <a href="https://github.com/ogawa3427/risyu/issues">苦情はここ(GitHub)</a>
    <br>
    <a href="https://github.com/ogawa3427/risyu/blob/main/course_info.json">学士課程の全データ(たぶん)</a>
    <br>
    <button id="toggleButton" style="padding: 15px;">学類選択</button>
    <div id="expandableContent" class="content" style="width: 100%; ">
        <table border="1">
            <thead>
                <tr>
                    <th>融合学域あり</th>
                    <th>なし</th>
                </tr>
                <tr>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=51_00&yugo=1">人社共通</a></td>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=51_00&yugo=0">人社共通</a></td>
                </tr>
                <tr>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=51_01&yugo=1">人文学類</a></td>4
                    <td><a href="https://kurisyushien.org/yugo_table?aff=51_01&yugo=0">人文学類</a></td>
                </tr>
                <tr>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=51_02&yugo=1">法学類</a></td>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=51_02&yugo=0">法学類</a></td>
                </tr>
                <tr>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=51_03&yugo=1">経済学類</a></td>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=51_03&yugo=0">経済学類</a></td>
                </tr>
                <tr>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=51_04&yugo=1">学教</a></td>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=51_04&yugo=0">学教</a></td>
                </tr>
                <tr>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=51_05&yugo=1">地域創造学類</a></td>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=51_05&yugo=0">地域創造学類</a></td>
                </tr>
                <tr>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=51_06&yugo=1">国際学類</a></td>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=51_06&yugo=0">国際学類</a></td>
                </tr>
                <tr>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=51_99&yugo=1">教職・資格(人社)</a></td>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=51_99&yugo=0">教職・資格(人社)</a></td>
                </tr>
                <tr>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=52_00&yugo=1">理工共通</a></td>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=52_00&yugo=0">理工共通</a></td>
                <tr>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=52_10&yugo=1">理工一括</a></td>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=52_10&yugo=0">理工一括</a></td>
                </tr>
                <tr>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=52_01&yugo=1">数物科学類</a></td>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=52_01&yugo=0">数物科学類</a></td>
                </tr>
                <tr>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=52_02&yugo=1">物質化学類</a></td>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=52_02&yugo=0">物質化学類</a></td>
                </tr>
                <tr>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=52_11&yugo=1">機械工学類</a></td>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=52_11&yugo=0">機械工学類</a></td>
                </tr>
                <tr>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=52_12&yugo=1">フロンティア工学類</a></td>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=52_12&yugo=0">フロンティア工学類</a></td>
                </tr>
                <tr>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=52_13&yugo=1">電子情報通信学類</a></td>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=52_13&yugo=0">電子情報通信学類</a></td>
                </tr>
                <tr>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=52_14&yugo=1">地球社会基盤学類</a></td>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=52_14&yugo=0">地球社会基盤学類</a></td>
                </tr>
                <tr>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=52_15&yugo=1">生命理工学類</a></td>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=52_15&yugo=0">生命理工学類</a></td>
                </tr>
                <tr>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=52_99&yugo=1">教職・資格(理工)</a></td>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=52_99&yugo=0">教職・資格(理工)</a></td>
                </tr>
                <tr>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=53_00&yugo=1">医薬保共通</a></td>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=53_00&yugo=0">医薬保共通</a></td>
                </tr>
                <tr>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=53_01&yugo=1">医学類</a></td>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=53_01&yugo=0">医学類</a></td>
                </tr>
                <tr>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=53_03&yugo=1">保健学類</a></td>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=53_03&yugo=0">保健学類</a></td>
                </tr>
                <tr>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=53_04&yugo=1">薬学類</a></td>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=53_04&yugo=0">薬学類</a></td>
                </tr>
                <tr>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=53_05&yugo=1">医薬科学類</a></td>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=53_05&yugo=0">医薬科学類</a></td>
                </tr>
                <tr>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=00_00&yugo=1">総合教育部</a></td>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=00_00&yugo=0">総合教育部</a></td>
                </tr>
                <tr>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=--_--&yugo=1">共通教育</a></td>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=--_--&yugo=0">共通教育</a></td>
                </tr>
                <tr>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=46_91&yugo=1">国際機構</a></td>
                    <td><a href="https://kurisyushien.org/yugo_table?aff=46_91&yugo=0">国際機構</a></td>
                </tr>

            </thead>
        </table>
    </div>
    <input type="checkbox" id="showAllCourses" checked class="hov">導入系の科目を非表示</input>
    <input type="radio" id="quarter" name="quarter" value="Q1" checked>Q1</input>
    <input type="radio" id="quarter" name="quarter" value="Q2">Q2</input>
    <input type="radio" id="quarter" name="quarter" value="Q3">Q3</input>
    <input type="radio" id="quarter" name="quarter" value="Q4">Q4</input>
    <br>
    <input type="checkbox" id="sendo" checked>先導</input>
    <input type="checkbox" id="kand" checked>観デザ</input>
    <input type="checkbox" id="suma" checked>スマ創</input>
    <input type="checkbox" id="denjo" checked>"{{ rui_name }}"</input>
    <button id="reset">cookieを消す</button>
    <table border="1">
        <thead>
            <tr>
                <th class="day"></th>
                <td class="day">月</td>
                <td class="day">火</td>
                <td class="day">水</td>
                <td class="day">木</td>
                <td class="day">金</td>
                <td class="day">集中</td>
            </tr>
                
            <tr>
                <th class="day">1</th>
                <td id="M1"></td>
                <td id="T1"></td>
                <td id="W1"></td>
                <td id="Th1"></td>
                <td id="F1"></td>
                <td id="SP"></td>
            </tr>
            
            <tr>
                <th class="day">2</th>
                <td id="M2"></td>
                <td id="T2"></td>
                <td id="W2"></td>
                <td id="Th2"></td>
                <td id="F2"></td>
                <td></td>
            </tr>

            <tr>
                <th class="day">3</th>
                <td id="M3"></td>
                <td id="T3"></td>
                <td id="W3"></td>
                <td id="Th3"></td>
                <td id="F3"></td>
                <td></td>
            </tr>

            <tr>
                <th class="day">4</th>
                <td id="M4"></td>
                <td id="T4"></td>
                <td id="W4"></td>
                <td id="Th4"></td>
                <td id="F4"></td>
                <td></td>
            </tr>

            <tr>
                <th class="day">5</th>
                <td id="M5"></td>
                <td id="T5"></td>
                <td id="W5"></td>
                <td id="Th5"></td>
                <td id="F5"></td>
                <td></td>
            </tr>

            <tr>
                <th class="day">6</th>
                <td id="M6"></td>
                <td id="T6"></td>
                <td id="W6"></td>
                <td id="Th6"></td>
                <td id="F6"></td>
                <td></td>
            </tr>

            <tr>
                <th class="day">7</th>
                <td id="M7"></td>
                <td id="T7"></td>
                <td id="W7"></td>
                <td id="Th7"></td>
                <td id="F7"></td>
                <td></td>
            </tr>
        </thead>
        <tbody id="courseTableBody">
            <!-- JavaScriptで動的に行が追加されます -->
        </tbody>
    </table>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const donyu = [
                'アカデミックスキル',
                'プレゼン・ディベート論',
                '数理・データサイエンス基礎及び演習',
                'アントレプレナー基礎',
                'デザイン思考'
            ];
            const s_donyu = donyu.join('、');
            document.getElementById('showAllCourses').setAttribute('title', s_donyu);
        });

        document.getElementById('reset').addEventListener('click', () => {
            cookies = getCookie();
            cookies["kand"] = undefined;
            setCookie(true);
            console.log(cookies);
            console.log(document.cookie);
            document.location.reload();
        });

        const getSelectedQuarter = () => {
            for (const radio of quarterRadios) {
                if (radio.checked) {
                    return radio.value;
                }
            }
            return null; // 何も選択されていない場合
        };
        document.addEventListener('DOMContentLoaded', function() {
            var content = document.getElementById('expandableContent');
            content.style.display = 'none'; // ページを開いた状態で隠します
            document.getElementById('toggleButton').textContent = '学類選択';

            document.getElementById('toggleButton').addEventListener('click', function() {
                if (content.style.display === 'block') {
                    content.style.display = 'none';
                    this.textContent = '学類選択';
                } else {
                    content.style.display = 'block';
                    this.textContent = '学類選択を隠す';
                }
            });
        });
    </script>
</body>
</html>