<!DOCTYPE html>
<html lang="ja">
    <script>
        //console.log('{{ course_info | tojson }}');
        const courseInfoStr = '{{ course_info | tojson }}'.replace(/^"|"$/g, '');
        var r_course_info = JSON.parse(courseInfoStr);
        const course_info = JSON.parse(courseInfoStr);

        const donyu = [
            'アカデミックスキル',
            'プレゼン・ディベート論',
            '数理・データサイエンス基礎及び演習',
            'アントレプレナー基礎'
        ]

        console.log(r_course_info);

        document.addEventListener('DOMContentLoaded', (event) => {
            const tableBody = document.getElementById('courseTableBody');
            const showAllCoursesCheckbox = document.getElementById('showAllCourses');
            const quarterRadios = document.getElementsByName('quarter');
            const sendoCheckbox = document.getElementById('sendo');
            const kandCheckbox = document.getElementById('kand');
            const sumaCheckbox = document.getElementById('suma');

            const getSelectedQuarter = () => {
                for (const radio of quarterRadios) {
                    if (radio.checked) {
                        return radio.value;
                    }
                }
                return null; // 何も選択されていない場合
            };

            const drawTable = () => {
                const ids = ['M1', 'T1', 'W1', 'Th1', 'F1', 'M2', 'T2', 'W2', 'Th2', 'F2', 'M3', 'T3', 'W3', 'Th3', 'F3', 'M4', 'T4', 'W4', 'Th4', 'F4', 'M5', 'T5', 'W5', 'Th5', 'F5', 'M6', 'T6', 'W6', 'Th6', 'F6', 'M7', 'T7', 'W7', 'Th7', 'F7', 'SP'];
                for (const id of ids) {
                    const cell = document.getElementById(id);
                    if (cell) {
                        cell.innerHTML = '';
                    }
                }
                tableBody.innerHTML = '';
                r_course_info = Object.values(course_info);
                console.log(r_course_info);

                console.log(getSelectedQuarter());
                console.log(r_course_info[0].quarter);

                r_course_info = r_course_info.filter((course) => {
                    return course.quarter == getSelectedQuarter();
                });

                r_course_info = r_course_info.filter((course) => {
                    if (!sendoCheckbox.checked) {
                        return course.rui != '先導学類';
                    } else {
                        return true;
                    }
                });
                r_course_info = r_course_info.filter((course) => {
                    if (!kandCheckbox.checked) {
                        return course.rui != '観光デザイン学類';
                    } else {
                        return true;
                    }
                });
                r_course_info = r_course_info.filter((course) => {
                    if (!sumaCheckbox.checked) {
                        return course.rui != 'スマート創成科学類';
                    } else {
                        return true;
                    }
                });

                r_course_info = r_course_info.filter((course) => {
                    if (showAllCoursesCheckbox.checked) {
                        return !donyu.includes(course.ja_title);
                    }
                    return true;
                });


                for (item in r_course_info) {
                    //console.log(r_course_info[item]);
                    const spl = r_course_info[item].day_period.split('');
                    const day = spl[0];
                    const period = spl[1];

                    var day_alp = '';
                    var id = '';

                    switch (day) {
                        case '月':
                            day_alp = 'M';
                            break;
                        case '火':
                            day_alp = 'T';
                            break;
                        case '水':
                            day_alp = 'W';
                            break;
                        case '木':
                            day_alp = 'Th';
                            break;
                        case '金':
                            day_alp = 'F';
                            break;
                    }

                    if (spl == '集中') {
                        day_alp = 'SP';
                    } else {
                        id = day_alp + period;
                    }

                    const courseElement = document.createElement('div');
                    //courseElement.href = r_course_info[item].link;
                    courseElement.className = "course";
                    courseElement.innerHTML = `
                        <a class="title" href="${r_course_info[item].link}">${r_course_info[item].ja_title}</a>
                    `;

                    if (r_course_info[item].rui == '先導学類') {
                        courseElement.innerHTML += `
                            <div style="display: flex; flex-flow: row;">
                                <p class="sendo">先導</p>
                                <p class="teacher">${r_course_info[item].ja_teacher}</p>
                            </div>
                        `;
                    } else if (r_course_info[item].rui == '観光デザイン学類') {
                        courseElement.innerHTML += `
                            <div style="display: flex; flex-flow: row;">
                                <p class="kand">観デザ</p>
                                <p class="teacher">${r_course_info[item].ja_teacher}</p>
                            </div>
                        `;
                    } else if (r_course_info[item].rui == 'スマート創成科学類') {
                        courseElement.innerHTML += `
                            <div style="display: flex; flex-flow: row;">
                                <p class="suma">スマ創</p>
                                <p class="teacher">${r_course_info[item].ja_teacher}</p>
                            </div>
                        `;
                    } else {
                        courseElement.innerHTML += `
                            <p class="teacher">${r_course_info[item].ja_teacher}</p>
                        `;
                    }

                    const cell = document.getElementById(id);
                    if (cell) {
                        cell.appendChild(courseElement);
                    }                  
                } 

                
            };

            // チェックボックスの状態が変わったら表を再描画
            showAllCoursesCheckbox.addEventListener('change', drawTable);
            quarterRadios.forEach(radio => radio.addEventListener('change', drawTable));
            sendoCheckbox.addEventListener('change', drawTable);
            kandCheckbox.addEventListener('change', drawTable);
            sumaCheckbox.addEventListener('change', drawTable);
            // 初期描画
            drawTable();
        });
    </script>
</head>
<style>
    .course {
        border: 1px solid #000;
        padding: 5px;
        margin: 5px;
        align-items: flex-start;
    }
    div {
        background-color: #FFFFFF;
    }
    .sendo {
        background-color: #008800;
        color: #FFFFFF;
        margin: 5px;
        border-radius: 3px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 3px;
    }
    .kand {
        background-color: #AA0000;
        color: #FFFFFF;
        margin: 5px;
        border-radius: 3px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 3px;
    }
    .suma {
        background-color: #0000AA;
        color: #FFFFFF;
        margin: 5px;
        border-radius: 3px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: flex-start;
        padding: 3px;
        margin: 5px;
    }
    td {
        background-color: #666666;
    }
    td > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* 左寄せにする場合 */
        justify-content: flex-start; /* 上から詰める */
        height: 100%; /* セルの高さに合わせて伸ばす */
    }
    .day {
        background-color: #EEEEEE;
        padding: 10px;
        font-weight: bold;
        text-align: center;
        font-size: 20px;
    }
</style>
<body>
    <h1>【非公式】融合学域時間割表(機能テスト中)</h1>
    <p style="font-size: 20px">あまり信用するなよ！！！</p>
    <a href="https://github.com/ogawa3427/risyu/issues">苦情はここ(GitHub)</a>
    <input type="checkbox" id="showAllCourses" checked>導入系の科目を非表示</input>
    <input type="radio" id="quarter" name="quarter" value="Q1" checked>Q1</input>
    <input type="radio" id="quarter" name="quarter" value="Q2">Q2</input>
    <input type="radio" id="quarter" name="quarter" value="Q3">Q3</input>
    <input type="radio" id="quarter" name="quarter" value="Q4">Q4</input>
    <input type="checkbox" id="sendo" checked>先導</input>
    <input type="checkbox" id="kand" checked>観デザ</input>
    <input type="checkbox" id="suma" checked>スマ創</input>
    <table border="1">
        <thead>
            <tr>
                <th class="day"></th>
                <td class="day">月</td>
                <td class="day">火</td>
                <td class="day">水</td>
                <td class="day">木</td>
                <td class="day">金</td>
                <td class="day">集中</td>
            </tr>
                
            <tr>
                <th class="day">1</th>
                <td id="M1"></td>
                <td id="T1"></td>
                <td id="W1"></td>
                <td id="Th1"></td>
                <td id="F1"></td>
                <td id="SP"></td>
            </tr>
            
            <tr>
                <th class="day">2</th>
                <td id="M2"></td>
                <td id="T2"></td>
                <td id="W2"></td>
                <td id="Th2"></td>
                <td id="F2"></td>
                <td></td>
            </tr>

            <tr>
                <th class="day">3</th>
                <td id="M3"></td>
                <td id="T3"></td>
                <td id="W3"></td>
                <td id="Th3"></td>
                <td id="F3"></td>
                <td></td>
            </tr>

            <tr>
                <th class="day">4</th>
                <td id="M4"></td>
                <td id="T4"></td>
                <td id="W4"></td>
                <td id="Th4"></td>
                <td id="F4"></td>
                <td></td>
            </tr>

            <tr>
                <th class="day">5</th>
                <td id="M5"></td>
                <td id="T5"></td>
                <td id="W5"></td>
                <td id="Th5"></td>
                <td id="F5"></td>
                <td></td>
            </tr>

            <tr>
                <th class="day">6</th>
                <td id="M6"></td>
                <td id="T6"></td>
                <td id="W6"></td>
                <td id="Th6"></td>
                <td id="F6"></td>
                <td></td>
            </tr>

            <tr>
                <th class="day">7</th>
                <td id="M7"></td>
                <td id="T7"></td>
                <td id="W7"></td>
                <td id="Th7"></td>
                <td id="F7"></td>
                <td></td>
            </tr>
        </thead>
        <tbody id="courseTableBody">
            <!-- JavaScriptで動的に行が追加されます -->
        </tbody>
    </table>
</body>
</html>